.gradient-border {
  --borderWidth: 5px;
  background: transparent; /* Ensure background is transparent */
  position: relative;
  border-radius: 15px;
  padding: var(--borderWidth); /* Add padding equal to the border width */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #b4e9d6,
    #f6cbd1,
    #d1c1d7,
    #70acc7,
    #ffe7a3,
    #ffd25f,
    #93e7fb,
    #65c3c8
  );
  border-radius: 18px;
  z-index: -1;
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 300% 300%;
}

.theme-switcher-wrapper {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 10;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Keyframes for fade out and fade in */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Keyframes for content sliding in */
@keyframes slideIn {
  from {
    transform: translateY(50px); /* Start lower */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the fade-out animation */
.fade-out {
  animation: fadeOut 0.5s forwards; /* Adjust duration as necessary */
}

/* Apply the fade-in animation */
.fade-in {
  animation: fadeIn 0.5s forwards; /* Adjust duration as necessary */
}

/* Apply the slide-in animation */
.slide-in {
  animation: slideIn 1s forwards;
}

